/.gitignore
/.vscode
/audit.log
/*.json
/*.code-workspace
/o
/cmd/prod-server/prod-server
/cmd/simple-server/simple-server
/librebound/coverage.out
/old
/bench/macrobench/*.csv
/bench/macrobench/.macrobench.env
/macrobench/*.pdf
/bench/*.png
/bench/macrobench/*.pdf
/bench/microbench/*.pdf
/bench/microbench/final-results
/**.json
/bench/microbench/tmp-out
/bench/microbench/tmp-work
/bench/microbench/micro-vs-*
