[submodule "tessera"]
	path = tessera
	url = https://github.com/MadSP-McDaniel/tessera.git
[submodule "rebound-sample-workloads"]
	path = rebound-sample-workloads
	url = https://github.com/MadSP-McDaniel/rebound-sample-workloads.git
